<head>
	<meta charset="utf-8">
    <!-- ie用户使用chorme的内核 -->
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<!-- 适配移动端 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="初心,初心不渝,空间">
	<meta name="description" content="初心不渝的空间">
	<title>初心的空间</title>
	<link rel="icon" href="//wz950116.bj.bcebos.com/public%2Ffavicon.png">
	<link rel="stylesheet" href="/assets/css/reset.css">
	
    <!--[if IE]>
	　　<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
		<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script type="text/javascript" src="/assets/js/excanvas.js"></script>
		<script type="text/javascript" src="/assets/js/es5-shim.js"></script>
    <![endif]-->

	<!-- 检测浏览器对H5 C3支持程度进行优雅降级 -->
    <script src="/assets/js/modernizr-2.6.2.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>

  	<script>
	  	if (/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE|Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent))) {
				window.location.href = '/categories/theme/404.html'; 
		}
	</script>
</head>