html,
body,
form,
ol,
ul,
li,
div,
p,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
table,
th,
td,
font,
em,
ins,
span,
a {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a {
	outline: none;
}

img {
	border: 0;
}

label {
	vertical-align: middle;
}

textarea,
input {
	resize: none;
	outline: none;
}

textarea {
	overflow: auto;
}

ins {
	float: right;
	text-decoration: none;
	font-weight: normal;
}
