@charset "UTF-8";

@font-face {
    font-family: "artfont";
    src: url('/assets/fonts/pvx.eot') format('eot');
    src: local('☺'), url('/assets/fonts/pvx.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/pvx.ttf') format('truetype');
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container, .box  {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.nav {
    position: fixed;
    right: 20px;
    top: 0;
}
.nav-item {
    position: relative;
    top: -25px;
    float: left;
    margin-right: 40px;
    cursor: pointer;
    transition: all .3s;
}
.top-line {
    width: 2px;
    height: 50px;
    background: #333333;
    margin: 0 auto;
}
.center-line {
    width: 40px;
    height: 200px;
    padding-top: 60px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #333333;
    background: rgba(0, 0, 0, .4);
    font: 24px "artfont" !important;
    color: #ffffff;
}
.bottom-line {
    width: 38px;
    height: 81px;
    margin: 0 auto;
    background: url(https://wz950116.bj.bcebos.com/jx3-pvx%2Fassets%2Fnav-1.png) no-repeat center top;
}
.nav-item:hover {
    top: 0;
}
.nav-item:hover .center-line {
    background: rgba(0, 0, 0, .7);
    color: #ca0c16;
}
.nav-item:hover .bottom-line {
    background: url(https://wz950116.bj.bcebos.com/jx3-pvx%2Fassets%2Fnav-2.png) no-repeat center top;
}
.nav-item-active {
    top: 0;
}
.nav-item-active .center-line {
    background: rgba(0, 0, 0, .7);
    color: #ca0c16;
}
.nav-item-active .bottom-line {
    background: url(https://wz950116.bj.bcebos.com/jx3-pvx%2Fassets%2Fnav-2.png) no-repeat center top;
}
.banner-img {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 1366px;
    cursor: pointer;
}
.banner-1 {
    display: block;
    background: url("https://wz950116.bj.bcebos.com/jx3-pvx%2Fqy%2F2020-05-17_18-09-00-000.png") no-repeat center;
    background-size: cover;
}
.banner-2 {
    background: url("https://wz950116.bj.bcebos.com/jx3-pvx%2F%E5%9D%90%E9%AA%91%2F2019-12-08_23-40-14-001.jpg") no-repeat center;
    background-size: cover;
}
.banner-3 {
    background: url("https://wz950116.bj.bcebos.com/jx3-pvx%2F%E6%8E%89%E8%90%BD%2F2019-08-19_20-13-59-000.png") no-repeat center;
    background-size: cover;
}
.banner-4 {
    background: url("https://wz950116.bj.bcebos.com/jx3-pvx%2F%E9%A3%8E%E6%99%AF%2Fcy%2F2020-03-15_20-08-35-000.jpg") no-repeat center;
    background-size: cover;
}
.banner-5 {
    background: url("https://wz950116.bj.bcebos.com/jx3-pvx%2F%E5%90%88%E5%BD%B1%2F2020-02-14_21-22-23-001.jpg") no-repeat center;
    background-size: cover;
}
